@mixin before_circle {
    &::before {
        content: '';
        width: 36px;
        height: 36px;
        background: $main-color;
        position: absolute;
        border-radius: 100%;
        z-index: -1;
        -webkit-transform:translateZ(-1px);
        -moz-transform:translateZ(-1px);
        -o-transform:translateZ(-1px);
        transform:translateZ(-1px);
        top: -25%;
        left: -0.3%;
        transition: all 1s;
    }
}

