@import "./libs/bootstrap-reboot.min";
@import "./base/animations";
@import "./base/variables";
@import "./base/mixins";
@import "./libs/font";

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import "./blocks/sidepanel";
@import "./blocks/promo";
@import "./blocks/hamburger";
@import "./blocks/menu";
@import "./blocks/line";
@import "./blocks/title";
@import "./blocks/btn";
@import "./blocks/about";
@import "./blocks/resume";
@import "./blocks/workskills";
@import "./blocks/portfolio";
@import "./blocks/prices";