.prices {
    padding-bottom: 120px;
    &__main-title {
        margin: 0;
        text-align: center;
        position: relative;
        z-index: 3;
        @include before_circle;
        &:before {
            animation: scale-buble-min 5s infinite ease-in-out;
            left: 48.4%;
        }
    }
    &__wrapper {
        margin-top: 60px;
        padding: 0 50px 0 50px;
        display: grid;
        grid-template: repeat(1, max-content) / repeat(2, minmax(auto, 366px));
        justify-content: space-between;
    }
    &__column {
        display: grid;
        grid-template: repeat(3, minmax(auto, 44px)) / auto;
        row-gap: 15px;
    }
    &__item {
        display: grid;
        grid-template: repeat(2, minmax(21px, auto)) / repeat(2, auto);
        row-gap: 5px;
        position: relative;
        z-index: 3;
    }
    &__title {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 0;
        position: relative;
        z-index: 3;
        @include before_circle;
        &:before {
            width: 15px;
            height: 15px;
            top: 15%;
            left: -30px;
            animation: scale-buble-min 1s infinite ease-in-out;
        }
    }
    &__price {
        grid-column: 2/3;
        grid-row: 1/2;
        margin: 0;
        justify-self: end;
    }
    &__info {
        grid-column: 1/3;
        grid-row: 2/3;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
        margin: 0;
    }

}