.resume {
    padding: 0 0 120px 0;
    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 136px;
        justify-content: center;
    }
    &__column {
        &-title {
            position: relative;
            z-index: 2;
            padding-left: 43px;
            &::before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                border: 1px black double;
                background: $main-color;
                border-radius: 100%;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
                animation: scale-buble-min 1s infinite ease-in-out;
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                z-index: 2;
                &::after {
                    content: '';
                    width: 1px;
                    height: calc(100% + 15px);
                    position: absolute;
                    top: -15px;
                    left: 0;
                    background-color: #000000;
                }
            }
        }
    }
    &__item {
        position: relative;
        &::before {
            content: '';
            width: 45px;
            height: 1px;
            position: absolute;
            background-color: #000000;
            top: 69px;
            z-index: -2;
        }
        &-head {
            position: relative;
            padding: 45px 0 0 100px;
            h4 {
                margin: 0;
            }
        }
        &-body {
            padding-left: 43px;
            margin-top: 12px;
        }
        &-icon {
            position: absolute;
            top: 50px;
            left: 45px;
            @include before_circle;
            &::before {
                animation: scale-buble-min 2s infinite ease-in-out;
                border: 1px #000 double;
            }
            img {
                position: absolute;
                left: 17px;
                top: 14px;
            }
        }
        &-location {
            margin-top: 5px;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
        }
        &-body {
            font-size: 12px;
            line-height: 18px;
            color: #000000;
            margin-top: 12px;
            margin-bottom: 0;
        }
    }
}