.title {
    font-style: normal;
    font-weight: 700;
    color: #000000;
    line-height: 60px;
    &_fz14 {
        font-size: 14px;
        line-height: 21px;
    }
    &_fz16 {
        font-size: 16px;
        line-height: 24px;
    }
    &_fz20 {
        font-size: 20px;
        line-height: 30px;
    }
    &_fz36 {
        font-size: 36px;
        line-height: 60px;
    }
    &_fz48 {
        font-size: 48px;
    }
    &__section-subtitle {
        text-align: center;
        margin: 0;
        position: relative;
        z-index: 3;
        @include before_circle;
        &:before {
            animation: scale-buble-min 5s infinite ease-in-out;
            left: 48.4%;
        }
    }
    &__section-title {
        text-align: center;
        margin: 0;
    }
}